#========================================================================================================================
#========================================================================================================================
#========================================================================================================================
#================================================   UCF Homade 3 Nexys 3   ============================================
#========================================================================================================================
#========================================================================================================================
#========================================================================================================================
#----------------------------------------------

#
#NET "mclk" TNM_NET = "clk_pin";
#TIMESPEC TS_clk_pin = PERIOD "clk_pin" 10 ns;
#Net "mclk" LOC=V10;
#Net "mclk" TNM_NET = sys_clk_pin;
#TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;
#--------------------------------------

NET "mclk" LOC = V10;
net "rx_in" Loc = N17;
#--------------------------------------
NET "a_to_g[0]" LOC = T17;
NET "a_to_g[1]" LOC = T18;
NET "a_to_g[2]" LOC = U17;
NET "a_to_g[3]" LOC = U18;
NET "a_to_g[4]" LOC = M14;
NET "a_to_g[5]" LOC = N14;
NET "a_to_g[6]" LOC = L14;
Net "a_to_g[7]" LOC = M13 ;
#----------------------------------------------
NET "an[3]" LOC = P17;
NET "an[2]" LOC = P18;
NET "an[1]" LOC = N15;
NET "an[0]" LOC = N16;
#----------------------------------------------
NET "led[0]" LOC = U16;
#----------------------------------------------
NET "led[1]" LOC = V16;
#----------------------------------------------
NET "led[2]" LOC = U15;
#----------------------------------------------
NET "led[3]" LOC = V15;
#---------------------------------------------
NET "led[4]" LOC = M11;
#----------------------------------------------
NET "led[5]" LOC = N11;
#----------------------------------------------
NET "led[6]" LOC = R11;
#----------------------------------------------
NET "led[7]" LOC = T11;
#----------------------------------------------
NET "sw[0]" LOC = T10;
#----------------------------------------------
NET "sw[1]" LOC = T9;
#----------------------------------------------
NET "sw[2]" LOC = V9;
#----------------------------------------------
NET "sw[3]" LOC = M8;
#----------------------------------------------
NET "sw[4]" LOC = N8;
#----------------------------------------------
NET "sw[5]" LOC = U8;
#---------------------------------------------
NET "sw[6]" LOC = V8;
#----------------------------------------------
NET "sw[7]" LOC = T5;
#----------------------------------------------
NET "btn[0]" LOC = D9;
#----------------------------------------------
NET "btn[1]" LOC = C9;
#----------------------------------------------
NET "btn[2]" LOC = C4;
#----------------------------------------------
NET "btn[3]" LOC = A8;
#----------------------------------------------
NET "btn[4]" LOC = B8;
#----------------------------------------------
